*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
     background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/home_bg.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: azure; */


}
nav img{
    width: 100px;
    margin-left: 100px;
}
nav ul{
    width: 30%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 100px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
}
nav ul li a:hover{
    border-bottom: orangered 1px solid;
    /* color: orangered; */
}
.contact{
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
.contact h1{
    font-size: 60px;
    color: whitesmoke;
}
span{
    color: orangered;
    /* font-size: 29px; */
}
.contact p{
    color: whitesmoke;
}
.contact a{
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid;
    padding: 10px;
    border-radius: 100px;
}
.contact a:hover{
    background-color: yellowgreen;
    color: black;
}
section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 50vh;
    /* margin: 50px; */
}
.header{
    width: 100%;
    text-align: center;
    /* margin: auto; */
}
.body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.p{
    margin: 100px;
    color: black;
}
.body p{
    font-size: 20px;
}
.offers{
    width: 100%;
    height: 100vh;
    background-image: url(images/offer-background.jpg);
    background-size: cover;

    /* display: inline-flex;
    justify-content: center; */
    color: aliceblue;
    /* margin: auto; */
    text-align: center;
}
.offers h3{
    font-size: 55px;
    color: orangered;
}
.contant{
    width: 100%;
    height: 80vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.ietms h4{
    font-size: 40px;
}
.ietms{
    width: 20%;

}
.price{
    color: orangered;
    font-size: 20px;
}
.menu{
    background-color: blanchedalmond;
    height: 130vh;
}
.menu-title{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 10px;
    margin-top: 10px;
}
.menu-body{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    
}
.menu-colm{
    width: 40%;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
}
.food-type{
    width: 100%;
    height: 40vh;
    background-image: url(images/daytime_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.items{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}
.ietmss{
    width: 7%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    color: whitesmoke;
}
.gallery{
    height: 100vh;
    background-image:  url(images/offer-background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery h1{
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}
.imgs img{
    height: 250px;
    width: 30%;
    border-radius: 40px;
    opacity: 0.5;
}
.imgs{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 140px;
    margin-top: 100px;
    /* opacity: 0.6; */
}
.imgs img:hover{
    opacity: 1;
}
.menu-body{
    display: flex;
    justify-content: space-evenly;
}
.item-info{
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
}
.item-info img{
    border-radius: 50%;
    width: 100px;

}
.item1-info{
    font-size: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 0.05px dashed;

}
    
.item1-info h3{
    color: yellowgreen;
}
.item1 p{
    font-size: 22px;
    
}
.item1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.form1{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
.form2{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;


}
.address{
    /* display: flex;
    justify-content: start; */
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.working{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form1 h3{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.form2 input{
    height: 50px;
    border-radius: 10px;
    border: none;
}
.form2 textarea{
    height: 50px;
    border-radius: 10px;
    border: none;

}
.form2 a{
   text-decoration: none;
    color: orangered;
    border: 1px solid;
    padding: 10px;
    border-radius: 100px;

}
footer{
    height: 6vh;
    background-color: rgb(19, 19, 43);
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 20px;
}
footer span{
    margin-top: 5px;
}
.form2 a:hover{
    background-color: orangered;
    color: whitesmoke;
}
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    nav img {
        margin: 0;
        width: 80px;
    }

    nav ul {
        width: 90%;
        margin: 0;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: 18px;
    }

    
    .contact {
        margin-top: 120px;
    }

    .contact h1 {
        font-size: 35px;
    }

    .contact a {
        padding: 8px 20px;
    }

    
    section {
        height: auto;
        padding: 20px;
    }

    .body {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .p {
        margin: 20px;
    }
    .offers{
        flex-direction: column;
        height: auto;
        gap: 40px;

    }

    
    .contant {
        flex-direction: column;
        height: auto;
        gap: 40px;
        padding: 40px 0;
    }

    .ietms {
        width: 80%;
    }

    .ietms h4 {
        font-size: 28px;
    }

    
    .menu {
        height: auto;
    }

    .menu-body {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu-colm {
        width: 90%;
        height: auto;
    }

    .item-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .item-info img {
        width: 80px;
        margin-bottom: 10px;
    }

    .item1-info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    
    .imgs {
        margin: 20px;
        justify-content: center;
    }

    .imgs img {
        width: 45%;
        height: 180px;
    }

    
    .form {
        flex-direction: column;
        height: auto;
    }

    .form1, .form2 {
        width: 90%;
        height: auto;
        gap: 20px;
    }


    +
    footer {
        height: auto;
        padding: 15px;
    }

}
